# Data loading 

Here we will be using the ```.paraquet``` file we downloaded and do the following:
 - Check metadata and table datatypes of the paraquet file/table
 - Convert the paraquet file to pandas dataframe and check the datatypes. Additionally check the data dictionary to make sure you have the right datatypes in pandas, as pandas will automatically create the table in our database.
 - Generate the DDL CREATE statement from pandas for a sanity check.
 - Create a connection to our database using SQLAlchemy
 - Convert our huge paraquet file into a iterable that has batches of 100,000 rows and load it into our database.

In [2]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [3]:
# Read metadata 
pq.read_metadata('yellow_tripdata_2023-12.parquet')

<pyarrow._parquet.FileMetaData object at 0x11e216890>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 3376567
  num_row_groups: 4
  format_version: 2.6
  serialized_size: 7768

In [6]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2023-12.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [7]:
# Convert to pandas and check data 
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376567 entries, 0 to 3376566
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 450.8+ MB

We need to first create the connection to our postgres database. We can feed the connection information to generate the CREATE SQL query for the specific server. SQLAlchemy supports a variety of servers.

In [15]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine.connect()

In [12]:
query = """
select * from public.ny_taxi_data limit 1000
"""
data_sample = pd.read_sql(query,con=engine)
data_sample.to_csv("data_sample.csv", index=False,encoding='UTF-8')

In [14]:
# Load the actual taxi trip data
file_path_actual_data = 'data_sample.csv'
actual_data = pd.read_csv(file_path_actual_data)

# Display the first few rows of the dataframe to understand its structure
actual_data.head()

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,720,2,2023-12-01 00:08:05,2023-12-01 00:14:37,1,2.13,1,N,249,48,1,10.7,1.0,0.5,3.14,0.0,1.0,18.84,2.5,0.0
1,721,2,2023-12-01 00:15:18,2023-12-01 00:27:11,1,1.12,1,N,48,100,2,12.1,1.0,0.5,0.00,0.0,1.0,17.10,2.5,0.0
2,722,2,2023-12-01 00:35:46,2023-12-01 00:51:52,1,3.23,1,N,48,140,1,19.1,1.0,0.5,4.82,0.0,1.0,28.92,2.5,0.0
3,723,2,2023-12-01 00:04:17,2023-12-01 00:08:38,1,0.64,1,N,249,249,1,6.5,1.0,0.5,2.30,0.0,1.0,13.80,2.5,0.0
4,724,2,2023-12-01 00:20:12,2023-12-01 00:41:51,1,9.56,1,N,231,196,2,39.4,1.0,0.5,0.00,0.0,1.0,44.40,2.5,0.0

In [8]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

Datatypes for the table looks good! Since we used paraquet file the datasets seem to have been preserved. You may have to convert some datatypes so it is always good to do this check.

## Finally inserting data

There are 2,846,722 rows in our dataset. We are going to use the ```parquet_file.iter_batches()``` function to create batches of 100,000, convert them into pandas and then load it into the postgres database.

In [9]:
#This part is for testing


# Creating batches of 100,000 for the paraquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-12-01 00:06:06,2023-12-01 00:15:47,0,1.10,1,N,230,48,1,10.0,3.5,0.5,1.50,0.0,1.0,16.50,2.5,0.0
1,1,2023-12-01 00:22:26,2023-12-01 00:28:53,0,1.50,1,N,142,238,1,9.3,3.5,0.5,2.85,0.0,1.0,17.15,2.5,0.0
2,1,2023-12-01 00:59:44,2023-12-01 01:13:22,2,2.20,1,N,114,186,1,13.5,3.5,0.5,3.00,0.0,1.0,21.50,2.5,0.0
3,2,2023-12-01 00:22:17,2023-12-01 00:30:59,1,0.66,1,N,79,79,2,7.2,1.0,0.5,0.00,0.0,1.0,12.20,2.5,0.0
4,2,2023-12-01 00:18:16,2023-12-01 00:25:32,2,2.20,1,N,229,263,1,11.4,1.0,0.5,2.00,0.0,1.0,18.40,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2023-12-01 20:11:55,2023-12-01 20:14:23,1,0.00,1,N,211,211,2,-4.4,-1.0,-0.5,0.00,0.0,-1.0,-11.90,-2.5,0.0
99996,2,2023-12-01 20:11:55,2023-12-01 20:14:23,1,0.00,1,N,211,211,2,4.4,1.0,0.5,0.00,0.0,1.0,11.90,2.5,0.0
99997,2,2023-12-01 20:22:04,2023-12-01 20:30:00,2,0.94,1,N,144,125,1,9.3,1.0,0.5,3.36,0.0,1.0,20.16,2.5,0.0
99998,2,2023-12-01 20:29:53,2023-12-01 21:02:13,2,4.50,1,N,125,263,1,29.6,1.0,0.5,6.92,0.0,1.0,41.52,2.5,0.0
99999,2,2023-12-01 20:04:04,2023-12-01 20:19:07,1,2.01,1,N,137,148,1,14.9,1.0,0.5,3.98,0.0,1.0,23.88,2.5,0.0

In [10]:
# Creating just the table in postgres
df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     67.968 seconds.

inserting batch 2...
inserted! time taken     65.683 seconds.

inserting batch 3...
inserted! time taken     66.453 seconds.

inserting batch 4...
inserted! time taken     66.052 seconds.

inserting batch 5...
inserted! time taken     66.870 seconds.

inserting batch 6...
inserted! time taken     65.757 seconds.

inserting batch 7...
inserted! time taken     85.274 seconds.

inserting batch 8...
inserted! time taken     72.265 seconds.

inserting batch 9...
inserted! time taken     69.163 seconds.

inserting batch 10...
inserted! time taken     74.459 seconds.

inserting batch 11...
inserted! time taken     72.652 seconds.

inserting batch 12...
inserted! time taken     77.203 seconds.

inserting batch 13...
inserted! time taken     82.762 seconds.

inserting batch 14...
inserted! time taken     67.124 seconds.

inserting batch 15...
inserted! time taken     66.096 seconds.

inserting batch 16...
inserted! time taken     66.509 seconds.

inserting batch 17...
inserted! time taken     65.458 seconds.

inserting batch 18...
inserted! time taken     63.787 seconds.

inserting batch 19...
inserted! time taken     66.358 seconds.

inserting batch 20...
inserted! time taken     66.971 seconds.

inserting batch 21...
inserted! time taken     66.721 seconds.

inserting batch 22...
inserted! time taken     64.882 seconds.

inserting batch 23...
inserted! time taken     65.726 seconds.

inserting batch 24...
inserted! time taken     66.923 seconds.

inserting batch 25...
inserted! time taken     65.563 seconds.

inserting batch 26...
inserted! time taken     66.811 seconds.

inserting batch 27...
inserted! time taken     66.520 seconds.

inserting batch 28...
inserted! time taken     69.034 seconds.

inserting batch 29...
inserted! time taken     79.170 seconds.

inserting batch 30...
inserted! time taken     80.767 seconds.

inserting batch 31...
inserted! time taken     79.302 seconds.

inserting batch 32...
inserted! time taken     67.873 seconds.

inserting batch 33...
inserted! time taken     99.762 seconds.

inserting batch 34...
inserted! time taken     67.089 seconds.

Completed! Total time taken was   2401.502 seconds for 34 batches.